{% extends 'store_app/share/_base.html' %}
{% load static %}

{% block page_content %}
  <div id="photoCarousel" class="carousel slide carousel-fade mt-2" data-bs-ride="carousel">
    <div class="carousel-indicators custom-carousel-indicators">
      <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{% static 'store_app/img/s1.png' %}" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block custom-carousel-caption">
          <h5>Грибочег</h5>
          <p>Поганочка... не съедобно, но красиво</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="{% static 'store_app/img/s2.png' %}" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block custom-carousel-caption">
          <h5>Река Ортон</h5>
          <p>Эта вода станет частью Северного Ледовитого океана... но сначала Мрасу, Томь, Обь и Карское море..</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'store_app/img/s3.png' %}" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block custom-carousel-caption">
          <h5>Капельки...</h5>
          <p>Утро после дождя ...</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Назад</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Вперед</span>
    </button>
  </div>
{% endblock %}
