{% extends 'main/share/_base.html' %}
{% load static %}

{% block page_content %}
  <div class="card my-3">
    <div class="card-header">Наши контакты</div>
    <address>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="tel:+71231231234">+71231231234</a>
        </li>
        <li class="list-group-item">
          <a href="mailto:some-mail@example.com">some-mail@example.com</a>
        </li>
        <li class="list-group-item">ул. Светлая, д. 34, подъезд 3/4</li>
      </ul>
    </address>
  </div>

  <div class="card my-3">
    <div class="card-header">Задайте ваш вопрос</div>
    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}

        <div class="form-floating mb-3">
          <input name="email" type="email" class="form-control" id="emailInput" placeholder="name@example.com" />
          <label for="emailInput">Email</label>
        </div>

        <div class="form-floating mb-3">
          <input name="name" type="text" class="form-control" id="nameInput" placeholder="Сергей" />
          <label for="nameInput">Ваше имя</label>
        </div>
        <div class="form-floating mb-3">
          <textarea name="message" class="form-control" id="messageInput"></textarea>
          <label for="messageInput">Ваше сообщение</label>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-secondary btn-lg">Отправить</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-body-secondary">
      {% for item in feedback %}
        <blockquote class="blockquote mb-0">
          <p>{{ item.message }}</p>
          <footer class="blockquote-footer">{{ item.name }}</footer>
        </blockquote>
      {% endfor %}
    </div>
  </div>
{% endblock %}
