{% load widget_tweaks %}
<div class="row {{ extra_classes }}">
  <div class="col">
    <form method="post" enctype="multipart/form-data"
          id="createProductForm">
      {% csrf_token %}
      {% with WIDGET_ERROR_CLASS='is-invalid' %}
        <div class="form-floating mb-3">
          {% render_field form.name class='form-control' placeholder=form.name.label %}
          <label for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
          <div class="invalid-feedback">
            <ul>
              {% for err in form.name.errors %}
                <li>{{ err }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="form-floating mb-3">
          {% render_field form.description class='form-control' placeholder=form.description.label %}
          <label for="{{ form.description.auto_id }}">{{ form.description.label }}</label>
          <div class="invalid-feedback">
            <ul>
              {% for err in form.description.errors %}
                <li>{{ err }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="input-group mb-3">
          <label for="{{ form.price.auto_id }}" class="input-group-text">{{ form.price.label }}</label>
          {% render_field form.price class='form-control' step='0.5' %}
          <span class="input-group-text">&#x20bd;</span>
          <div class="invalid-feedback">
            <ul>
              {% for err in form.price.errors %}
                <li>{{ err }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="input-group mb-3">
          <label for="{{ form.category.auto_id }}" class="input-group-text">{{ form.category.label }}</label>
          {% render_field form.category class='form-select' %}
          <div class="invalid-feedback">
            <ul>
              {% for err in form.category.errors %}
                <li>{{ err }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="input-group mb-3">
          <label for="{{ form.preview_image.auto_id }}"
                 class="input-group-text">{{ form.preview_image.label }}</label>
          {% render_field form.preview_image class='form-control' %}
          <div class="invalid-feedback">
            <ul>
              {% for err in form.preview_image.errors %}
                <li>{{ err }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="btn-group" role="group">
          {% if object %}
            <a class="btn btn-secondary" href="{% url 'store_app:product' object.id %}">Отмена</a>
          {% endif %}
          <button type="submit" class="btn btn-success w-100">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            <span class="sr-only">Сохранить</span>
          </button>
        </div>
      {% endwith %}
    </form>
  </div>
</div>