<div class="row">
  <div class="col-12 col-md">
    Horns'n'Hoofs
    <small class="d-block mb-3 text-muted">&copy; 2023</small>
    <div id="logo">&nbsp;</div>
  </div>

  <div class="col-6 col-md">
    <h5>Соцсети</h5>
    <ul class="list-unstyled text-small">
      <li>
        <a href="#"><i class="bi bi-twitter"></i>Мы пишем</a>
      </li>
    </ul>
  </div>

  <div class="col-6 col-md">
    <h5>О нас</h5>
    <ul class="list-unstyled text-small">
      <li>
        <a href="{% url 'store_app:contacts' %}">Контакты</a>
      </li>
    </ul>
  </div>
</div>
